/*
  Override default refinery application CSS below.
  Formatting applies to all frontend.
*/


/* Normalize CSS */
/*! normalize.css 2011-08-12T17:28 UTC · http://github.com/necolas/normalize.css */

/* =============================================================================
   HTML5 display definitions
   ========================================================================== */

/*
 * Corrects block display not defined in IE6/7/8/9 & FF3
 */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
    display: block;
}

/*
 * Corrects inline-block display not defined in IE6/7/8/9 & FF3
 */

audio,
canvas,
video {
    display: inline-block;
    *display: inline;
    *zoom: 1;
}

/*
 * Prevents modern browsers from displaying 'audio' without controls
 */

audio:not([controls]) {
    display: none;
}

/*
 * Addresses styling for 'hidden' attribute not present in IE7/8/9, FF3, S4
 * Known issue: no IE6 support
 */

[hidden] {
    display: none;
}


/* =============================================================================
   Base
   ========================================================================== */

/*
 * 1. Corrects text resizing oddly in IE6/7 when body font-size is set using em units
 *    http://clagnut.com/blog/348/#c790
 * 2. Keeps page centred in all browsers regardless of content height
 * 3. Prevents iOS text size adjust after orientation change, without disabling user zoom
 *    www.456bereastreet.com/archive/201012/controlling_text_size_in_safari_for_ios_without_disabling_user_zoom/
 */

html {
    font-size: 100%; /* 1 */
    overflow-y: scroll; /* 2 */
    -webkit-text-size-adjust: 100%; /* 3 */
    -ms-text-size-adjust: 100%; /* 3 */
}

/*
 * Addresses margins handled incorrectly in IE6/7
 */

body {
    margin: 0;
}

/* 
 * Addresses font-family inconsistency between 'textarea' and other form elements.
 */

body,
button,
input,
select,
textarea {
    font-family: sans-serif;
}


/* =============================================================================
   Links
   ========================================================================== */

a {
    color: #00e;
}

a:visited {
    color: #551a8b;
}

/*
 * Addresses outline displayed oddly in Chrome
 */

a:focus {
    outline: thin dotted;
}

/*
 * Improves readability when focused and also mouse hovered in all browsers
 * people.opera.com/patrickl/experiments/keyboard/test
 */

a:hover,
a:active {
    outline: 0;
}


/* =============================================================================
   Typography
   ========================================================================== */

/*
 * Addresses styling not present in IE7/8/9, S5, Chrome
 */

abbr[title] {
    border-bottom: 1px dotted;
}

/*
 * Addresses style set to 'bolder' in FF3/4, S4/5, Chrome
*/

b, 
strong { 
    font-weight: bold; 
}

blockquote {
    margin: 1em 40px;
}

/*
 * Addresses styling not present in S5, Chrome
 */

dfn {
    font-style: italic;
}

/*
 * Addresses styling not present in IE6/7/8/9
 */

mark {
    background: #ff0;
    color: #000;
}

/*
 * Corrects font family set oddly in IE6, S4/5, Chrome
 * en.wikipedia.org/wiki/User:Davidgothberg/Test59
 */

pre,
code,
kbd,
samp {
    font-family: monospace, serif;
    _font-family: 'courier new', monospace;
    font-size: 1em;
}

/*
 * Improves readability of pre-formatted text in all browsers
 */

pre {
    white-space: pre;
    white-space: pre-wrap;
    word-wrap: break-word;
}

/*
 * 1. Addresses CSS quotes not supported in IE6/7
 * 2. Addresses quote property not supported in S4
 */

/* 1 */

q {
    quotes: none;
}

/* 2 */

q:before,
q:after {
    content: '';
    content: none;
}

small {
    font-size: 75%;
}

/*
 * Prevents sub and sup affecting line-height in all browsers
 * gist.github.com/413930
 */

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sup {
    top: -0.5em;
}

sub {
    bottom: -0.25em;
}


/* =============================================================================
   Lists
   ========================================================================== */

ul,
ol {
    margin: 1em 0;
    padding: 0 0 0 40px;
}

dd {
    margin: 0 0 0 40px;
}

nav ul,
nav ol {
    list-style: none;
    list-style-image: none;
}


/* =============================================================================
   Embedded content
   ========================================================================== */

/*
 * 1. Removes border when inside 'a' element in IE6/7/8/9
 * 2. Improves image quality when scaled in IE7
 *    code.flickr.com/blog/2008/11/12/on-ui-quality-the-little-things-client-side-image-resizing/
 */

img {
    border: 0; /* 1 */
    -ms-interpolation-mode: bicubic; /* 2 */
}

/*
 * Corrects overflow displayed oddly in IE9 
 */

svg:not(:root) {
    overflow: hidden;
}


/* =============================================================================
   Figures
   ========================================================================== */

/*
 * Addresses margin not present in IE6/7/8/9, S5, O11
 */

figure {
    margin: 0;
}


/* =============================================================================
   Forms
   ========================================================================== */

/*
 * Corrects margin displayed oddly in IE6/7
 */

form {
    margin: 0;
}

/*
 * Define consistent margin and padding
 */

fieldset {
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}

/*
 * 1. Corrects color not being inherited in IE6/7/8/9
 * 2. Corrects alignment displayed oddly in IE6/7
 */

legend {
    border: 0; /* 1 */
    *margin-left: -7px; /* 2 */
}

/*
 * 1. Corrects font size not being inherited in all browsers
 * 2. Addresses margins set differently in IE6/7, F3/4, S5, Chrome
 * 3. Improves appearance and consistency in all browsers
 */

button,
input,
select,
textarea {
    font-size: 100%; /* 1 */
    margin: 0; /* 2 */
    vertical-align: baseline; /* 3 */
    *vertical-align: middle; /* 3 */
}

/*
 * 1. Addresses FF3/4 setting line-height using !important in the UA stylesheet
 * 2. Corrects inner spacing displayed oddly in IE6/7
 */

button,
input {
    line-height: normal; /* 1 */
    *overflow: visible;  /* 2 */
}

/*
 * Corrects overlap and whitespace issue for buttons and inputs in IE6/7
 * Known issue: reintroduces inner spacing
 */

table button,
table input {
    *overflow: auto;
}

/*
 * 1. Improves usability and consistency of cursor style between image-type 'input' and others
 * 2. Corrects inability to style clickable 'input' types in iOS
 */

button,
html input[type="button"], 
input[type="reset"], 
input[type="submit"] {
    cursor: pointer; /* 1 */
    -webkit-appearance: button; /* 2 */
}

/*
 * 1. Addresses box sizing set to content-box in IE8/9
 * 2. Addresses excess padding in IE8/9
 */

input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box; /* 1 */
    padding: 0; /* 2 */
}

/*
 * 1. Addresses appearance set to searchfield in S5, Chrome
 * 2. Addresses box sizing set to border-box in S5, Chrome (include -moz to future-proof)
 */

input[type="search"] {
    -webkit-appearance: textfield; /* 1 */
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box; /* 2 */
    box-sizing: content-box;
}

/*
 * Corrects inner padding displayed oddly in S5, Chrome on OSX
 */

input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

/*
 * Corrects inner padding and border displayed oddly in FF3/4
 * www.sitepen.com/blog/2008/05/14/the-devils-in-the-details-fixing-dojos-toolbar-buttons/
 */

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

/*
 * 1. Removes default vertical scrollbar in IE6/7/8/9
 * 2. Improves readability and alignment in all browsers
 */

textarea {
    overflow: auto; /* 1 */
    vertical-align: top; /* 2 */
}


/* =============================================================================
   Tables
   ========================================================================== */

/* 
 * Remove most spacing between table cells
 */

table {
    border-collapse: collapse;
    border-spacing: 0;
}





/* Sitebar */
#site-bar-padding {
  padding: 27px;
}
body #site_bar {
  margin: 0 0 5px 0;
  box-shadow: 0 5px 10px rgba(0,0,0,0.2);
  border-bottom: 2px solid #fff;
  border-top: 2px solid #fff;
  position: fixed;
  z-index: 100000;
  width: 100%;
  background: rgba(34, 167, 242, 0.8);
}
#site_bar a:hover {
  background-color: transparent;
}
#site_bar_content {
  width: 950px;
  margin: 0 auto;
}
#editor_switch a, #editor_switch span {
  box-shadow: 0 0 8px rgba(0,0,0,0.9);
}
#editor_switch a:hover {
  box-shadow: 0 0 8px rgba(255,255,255,0.9);
}



/* My CSS */



body {
  font: normal normal normal 13px/1.5 "Trebuchet MS", helvetica, clean, sans-serif;
  line-height: 1.5;
  color: #444;
}

a:link, a:visited {
  color: #ec2d91;
  text-decoration: none;
}
a:hover {
  background-color: #fdeff5;
}
h1 {
  font-size: 28px;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-style: italic;
  font-weight: normal;
  margin: 0;
  color: #ec2d91;
}
h1#logo {
  margin: 0;
}
h2 {
  font-size: 22px;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-style: italic;
  font-weight: normal;
  margin: 0;
  color: #444;
}
.padded_wrapper {
  padding: 10px;
  float: left;
}

#breadcrumb {
  float: left;
  font-size: 11px;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
#breadcrumb li {
  float: left;
  padding-right: 5px;
}

#content {
  margin-top: 20px;
  float: left;
}

ul.menu, .menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
#leftcol h2 {
  background-color: #eee;
  font-size: 14px;
  padding: 4px;
}
.menu li.selected {
  background-color: #fdeff5;
  border-bottom: 1px solid #ec2d91;
  border-top: 1px solid #ec2d91;
  margin-bottom: -1px;
  z-index: 1;
  position: relative;
}
.menu li.first a:link, .menu li.first a:visited {
  border-top: none;
}
.menu li.selected a:link, .menu li.selected a:visited {
  border-top: 0;
  display: block;
}
.menu a:link, .menu a:visited {
  border-top: 1px solid #ddd;
  color: #333;
  display: block;
  font-size: 11px;
  padding: 5px;
  text-decoration: none;
  _height: 1px;
}

#recommended {
  background-color: #fff;
  border: 1px solid #ccc;
  float: left;
  margin: 10px 0 20px 0;
  padding: 12px 0 7px 7px;
  width: 291px;
}
#recommended #skyscraper {
  float: left;
  margin: 0 10px;
}
#ad-buttons {
  margin-left: 150px;
}
#ad-buttons iframe {
  height: 600px;
  width: 120px;
}



#showcase-intro {
  line-height: 19px;
  font-size: 12px;
}
#showcase-intro img {
  float: left;
  margin: 0 10px 0 0;
}
#showcase-searches {
  background-color: #eee;
}
#showcase-searches h2, #showcase h2 {
  font-size: 15px;
  color: #ec2d91;
}
#showcase-searches select, #showcase-searches input[type=text] {
  width: 100%;
  margin: 3px 0;
}
#showcase-dress-go, #showcase-retailer-go {
  float: right;
  background-color: #ec2d91;
  color: #fff;
  border: none;
  padding: 4px 15px;
}
.js #showcase {
  max-height: 218px;
  overflow: hidden;
}
#showcase {
  background-color: #eee;
  margin: 20px 0 0;
  padding: 10px;
}
#showcase-searches h2, #showcase h2 {
  font-size: 15px;
  color: #ec2d91;
}
#content .jcarousel-skin-confetti {
  margin: 10px auto;
  overflow: hidden;
  padding: 0;
}
.jcarousel-skin-confetti .jcarousel-container-horizontal {
  width: 459px;
  padding: 0;
}
.jcarousel-skin-confetti .jcarousel-clip-horizontal {
  width: 459px;
  height: 150px;
}
.js #showcase li {
  position: relative;
  float: left;
  list-style: none outside none;
  height: 150px;
  margin-right: 5px;
}
#showcase li {
  width: 111px;
}
.jcarousel-skin-confetti .jcarousel-item-horizontal {
  margin-left: 0;
  margin-right: 5px;
}
.jcarousel-skin-confetti .jcarousel-item {
  width: 111px;
  height: 150px;
}
#showcase li span {
  background: #fff;
  background: 0;
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#CCFFFFFF,endColorstr=#CCFFFFFF);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#CCFFFFFF,endColorstr=#CCFFFFFF);
  zoom: 1;
  background: rgba(255,255,255,0.8);
  bottom: 0;
  left: 0;
  display: block;
  padding: 5px;
  position: absolute;
  text-align: center;
  width: 101px;
  z-index: 50;
  font-size: 11px;
}
#showcase li span em {
  color: #000;
  font-style: normal;
}
.js #showcase-prev {
  margin: -5px 0;
  padding: 10px;
  width: 208px;
}

.js #showcase-prev:active, .js #showcase-next:active, .js #showcase-prev:focus, .js #showcase-next:focus {
  outline: 0;
}
.js #showcase-prev:hover, .js #showcase-next:hover {
  background-color: #fff;
  border: 1px solid #ec2d91;
  color: #000;
  padding: 9px;
}
.js #showcase-next {
  margin: -5px 0 -5px 4px;
  padding: 10px;
  width: 208px;
}
.js #showcase-prev, .js #showcase-next {
  display: block;
  float: left;
  width: 198px;
  text-align: center;
  font-size: 22px;
  font-weight: bold;
  line-height: 15px;
}
#content-spots {
  margin-top: 10px;
}
#content-spots a:link, #content-spots a:visited {
  color: #333;
}
#content-spots .item {
  border: 2px solid #eee;
  float: left;
  margin: 10px 10px 0 0;
  padding: 5px;
  width: 211px;
  height: 190px;
  font-size: 12px;
  overflow: hidden;
}
#content-spots .item.b {
  margin-right: 0;
}
#content-spots img {
  float: left;
  margin: 4px 10px 5px 0;
}
#content-spots h2 {
  font-size: 15px;
  color: #ec2d91;
  margin-bottom: 5px;
}
#content p {
  margin: 0 0 1em 0;
}



footer {
  position: relative;
  font-size: 12px;
  margin-top: 50px;
  width: 100%;
  clear: left;
}
#followus {
  font-size: 16px;
  padding: 40px 0;
  text-align: center;
}
#followus img {
  vertical-align: middle;
}
#contactDetails dt {
  margin: 0 0 5px;
  font-weight: bold;
  border-bottom: 1px dotted #999;
}
#contactDetails dd {
  margin: 0;
}
#footerlogos {
  margin: 40px auto;
  clear: both;
  display: table;
  text-align: center;
  padding: 0;
  list-style: none;
}
#footerlogos li {
  display: inline;
  line-height: 90px;
  padding-right: 30px;
}
#footerCopyright {
  clear: both;
  text-align: center;
  font-size: 11px;
  padding-top: 10px;
  margin: 0 0 60px;
}



#header {
  float: left;
  margin: 0 0 10px;
}
#toplinks {
  font-size: 11px;
  line-height: 25px;
  text-align: right;
  position: relative;
}
#logo {
  float: left;
  height: 138px;
  width: 222px;
}
#logo a img {
  border: none;
}
#logo-contacts {
  color: #888888;
  font-size: 11px;
  line-height: 1.3;
  padding: 6px 0;
  text-align: center;
}
#logo-contacts strong {
  color: #EC2D91;
  display: block;
  font-size: 15px;
  font-weight: bold;
}
#leaderboard {
  float: left;
  height: 90px;
  width: 728px;
  margin-bottom: 7px;
}
#shop-promo img {
  margin-top: 14px;
}
#searches {
  border-right: 1px solid #CCCCCC;
  float: left;
  width: 482px;
  font-size: 11px;
}
#searches form {
  margin: 0;
}
#directory-search, #shop-search {
  float: left;
  padding: 0 10px 0 0;
  width: 231px;
  height: 40px;
  line-height: 37px;
}
.ie8 #directory-search, .ie8 #shop-search {
  height: 41px;
}
#directory-search input.text, #shop-search input.text {
  font-size: 11px;
  padding: 4px 5px 3px 22px;
  border: 1px solid #ccc;
  width: 144px;

  background: url(//image.confetti.co.uk/UI/icons/search2.gif) no-repeat 4px center;

    /* Google Chrome */
  -webkit-appearance: none;
  -webkit-box-sizing: content-box;
}
::-webkit-input-placeholder {
  color: #888;
}
:-moz-placeholder {
  color: #888;
}
#directory-search .button, #shop-search .button {
  float: none;
  font-size: 11px;
  width: auto;
}
#basket {
  background: url("//image.confetti.co.uk/UI/icons/basket.gif") no-repeat scroll 5px center transparent;
  float: left;
  font-size: 11px;
  height: 40px;
  line-height: 40px;
  padding: 0 0 0 10px;
  position: relative;
  width: 235px;
}
#basket a:link, #basket a:visited {
  color: #666;
  text-decoration: none;
  position: absolute;
  top:0;
  bottom:0;
  left: 0;
  right:0;
  _right: -10px;
  cursor: pointer;
}
#basket a:link img, #basket a:visited img {
  border: none;
}
#basket a:hover {
  text-decoration: none;
  background-color: transparent;
}
#basket a span {
  display: block;
  float: left;
  margin-left: 35px;
  _margin-left: 18px;
  text-align: center;
  width: 120px;
}
#basket a span:hover {
  text-decoration: underline;
  background-color: transparent;
}
#basket img {
  float: right;
  margin-left: 5px;
  margin-top: 7px;
}
#basket .button {
  float: right;
  margin-top: 7px;
  padding: 4px 10px 2px;
}
.ie8 #basket .button {
  padding: 4px 10px 3px;
}
/* MENU */
#mainmenu2 {
  position: relative;
  margin: 0 auto 20px;
  padding: 0;
  width: 948px;
  border: 1px solid #ccc;
  background: url("//image.confetti.co.uk/UI/menuimages/menu-grad.gif") repeat-x scroll left 0 transparent;
  height: 30px;
  list-style-type: none;
  font-size: 12px;
  z-index: 1001;
  clear: left;
}
#mainmenu2 a:focus, #mainmenu2 a:active {
  outline: none;
}
#mainmenu2 li {
  list-style-type: none;
}
#mainmenu2 li.toplevel {
  float: left;
  line-height: 30px;
}
#mainmenu2 #shopicon {
  padding-right: 4px;
  vertical-align: baseline;
}
#mainmenu2 li.toplevel a.toplevellink {
  padding: 0 10px;
  display: block;
  text-decoration: none;
  color: #666;
  font-weight: bold;
  border-left: 1px solid #fff;
  border-right: 1px solid #e1e1e1;
}
#mainmenu2 li.last a.toplevellink {
  border-right: none;
}
#mainmenu2 li.shopmenu a.toplevellink {
  border-right: 1px solid #ccc;
}
#mainmenu2 li.toplevel a.toplevellink:hover {
  background: url("//image.confetti.co.uk/UI/menuimages/menu-grad.gif") repeat-x scroll left -60px transparent;
}
#mainmenu2 li.toplevel a.toplevellink .menuarrow, #mainmenu2 li.toplevel a.toplevellink.on:hover .menuarrow,
#mainmenu2 li.toplevel a.toplevellink.on .menuarrow {
  display: none;
}
#mainmenu2 li.toplevel a.toplevellink:hover .menuarrow {
  background-image: url("//image.confetti.co.uk/UI/menuimages/menu-arrow.png");
  bottom: -7px;
  height: 11px;
  left: 45%;
  position: absolute;
  width: 11px;
  display: block;
}

#mainmenu2 li.toplevel a.on:hover {
  background: #fff;
}
#mainmenu2 li.active a.toplevellink {
  background: url("//image.confetti.co.uk/UI/menuimages/menu-grad.gif") repeat-x scroll left -30px transparent;
}
#mainmenu2 li.toplevel a.on {
  background-color: #FFFFFF;
  border-bottom: 1px double #FFFFFF;
  border-left: 1px solid #CCCCCC;
  border-right: 1px solid #CCCCCC;
  height: 40px;
  margin-left: -1px;
  padding-left: 11px;
  position: relative;
  z-index: 1001;
}
#mainmenu2 div.menuchild {
  display: none;
  border: 1px solid #ccc;
  border-top: 4px solid #ccc;
  background-color: #fff;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1001;
  float: left;
  margin-left: -1px;
  position: absolute;
}
#mainmenu2 div.megamenu {
  top: 40px;
  left: 10px;
  right: 10px;
}
#mainmenu2 div.menuchild .panel {
  text-align: center;
}
#mainmenu2 .titlecol {
  border-right: 1px solid #CCCCCC;
  float: left;
  width: 150px;
}
#mainmenu2 .titlecol ul {
  margin: 0;
  padding: 5px 0;
  list-style-type: none;
}
#mainmenu2 .titlecol ul li {
  line-height: 23px;
}
#mainmenu2 .titlecol ul li a {
  color: #444;
  padding: 0 10px;
  text-decoration: none;
  font-weight: bold;
  display: block;
}
#mainmenu2 .titlecol ul li.active a {
  background-color: #fdeff5;
}
#mainmenu2 .titlecol ul li a:hover {
  background-color: #eee;
}
#mainmenu2 .simple {
  min-width: 200px;
  _width: 200px;
}
#mainmenu2 .simple > ul {
  padding-left: 24px;
  margin: 0;
}
#mainmenu2 .simple li {
  color: #ccc;
  list-style-type: square;
}
#mainmenu2 .simple a:link, #mainmenu2 .simple a:visited {
  color: #333;
  display: block;
}
#mainmenu2 .simple a:hover {
  text-decoration: underline;
}
#mainmenu2 .col {
  float: left;
  text-align: left;
}
#mainmenu2 .wow {
  background: url(menu-grad-yellow.gif) repeat-x;
  border-left: 1px solid #CCCCCC;
  border-right: 1px solid #CCCCCC;
  right: 1px solid #CCCCCC;
}
#mainmenu2 .wow a:hover strong {
  color: #ec2d91;
}
#mainmenu2 .col ul {
  padding: 5px 0;
  color: #ccc;
  margin: 0 0 0 21px;
}
#mainmenu2 .col ul li {
  list-style-type: square;
}
#mainmenu2 .col ul li {
  line-height: 23px;
}
#mainmenu2 .col ul li a {
  padding: 0 10px 0 0;
  display: block;
  text-decoration:none;
  color: #666;
}
#mainmenu2 .col ul li a:hover {
  text-decoration: underline;
}
#pageoverlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;

  background: transparent;
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#B2FFFFFF,endColorstr=#B2FFFFFF)"; /* IE8 */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#B2FFFFFF,endColorstr=#B2FFFFFF);   /* IE6 & 7 */
  zoom: 1;

  background-color: rgba(255,255,255,0.7);
}
