#blog_posts {}
{
  border-bottom: 1px dotted #ccc;
  padding-bottom: 20px;
  margin: 20px 0;
}
#blog_posts .blog_post {
  margin: 20px 0;
}
#blog_posts .blog_post h2 {
  border-bottom: 1px solid #ec2d91;
  margin-bottom: 2px;
}
#blog_posts .blog_post .details {
  font-size: 11px; 
  color #888;
}
#blog_posts .blog_post .details .tagged {
  display: inline;
}
#blog_posts .blog_post footer {
  margin: 0;
}