<footer>
	<div id="followus">Follow us on: <a target="_blank" href="http://www.twitter.com/ConfettiWedding/"><img alt="Twitter" src="//image.confetti.co.uk/i/footer_images/twitter.jpg"></a> <a target="_blank" href="http://www.facebook.com/pages/Confetti/74397545419"><img alt="Facebook" src="//image.confetti.co.uk/i/footer_images/facebook.jpg"></a> </div>
	<div id="contactDetails">
		<dl class="grid_3 alpha">
			<dt>Order Line</dt>
				<dd>
					<address>
						0844&nbsp;­848&nbsp;­9797<br>
						Mon-Fri 9am-9pm<br>
						Sat-Sun 10am-5pm
					</address>
				</dd>
			</dl>
			<dl class="grid_3">
				<dt>Contact Us</dt>
				<dd><a rel="nofollow" href="/article/view/7043-8279-0-Customer_care_FAQs.do">Customer care FAQs</a></dd>
				<dd><a title="mail confetti" href="mailto: customercare@confetti.co.uk">customercare@confetti.co.uk</a></dd>
				<dd><a rel="nofollow" href="/article/view/7073-8281-0-Request_a_newsletter.do">Newsletter</a></dd>
				<dd><a rel="nofollow" title="Confetti Feedback" class="thickbox" id="feedbackLink" 			
							 href="/feedback.aspx?keepThis=true&amp;theurl=%2fsignup%2fedit%2f0.do%3feventInfoPersonal%3dyes&amp;TB_iframe=true?height=500?width=500&amp;fb=true">Feedback</a></dd>
			</dl>
			<dl class="grid_3">
				<dt>Commercial &amp; Marketing</dt>
				<dd><a rel="nofollow" href="/article/view/6410-8276-0-Advertising___commercial_opportunities.do">Advertise with Confetti</a></dd>
				<dd><a rel="nofollow" href="/article/view/6410-8276-0-Advertising___commercial_opportunities.do">Retail partnership</a></dd>
				<dd><a rel="nofollow" href="/article/view/6476-8276-0-Confetti_affiliate_programme.do">Sign up to affiliate programme</a></dd>
				<dd><a rel="nofollow" href="/article/view/6410-8276-0-Advertising___commercial_opportunities.do">Marketing opportunities</a></dd>
			</dl>
			<dl class="grid_3 omega">
				<dt>About Confetti</dt>
				<dd><a rel="nofollow" href="/article/view/12924-8264-0-About_Confetti.do">About us </a></dd>
				<dd><a rel="nofollow" href="/category/view/8260-0-Corporate_information.do">Corporate Information</a></dd>
				<dd><a rel="nofollow" href="/article/view/6793-8280-0-Privacy_policy.do">Privacy policy</a></dd>
				<dd><a rel="nofollow" href="/article/view/6517-8264-0-Working_for_Confetti.do">Jobs</a></dd>
				<dd><a rel="nofollow" href="/article/view/6849-8280-0-Terms___Conditions.do">Terms  &amp; conditions</a></dd>
				<dd><a rel="nofollow" href="/sitemap/view/0.do">Sitemap</a></dd>
			</dl>
		</div>
		<ul id="footerlogos" class="clearfix">
			<li>
				<a title="Internet Shopping Is Safe (ISIS) is run by the industry body for e-retail, IMRG, and lets consumers shop online with confidence." 
				onclick="secureCheck('http://isis.imrg.org/screens/VerifyMerchantFrame.asp?guid=89A4BC54-BA92-48AE-8814-D04905FEA53C'); return false;" target="_blank" rel="nofollow" 
				href="http://isis.imrg.org/screens/VerifyMerchantFrame.asp?guid=89A4BC54-BA92-48AE-8814-D04905FEA53C">
					<img alt="Internet Shopping Is Safe (ISIS) is run by the industry body for e-retail, IMRG, and lets consumers shop online with confidence." 
					src="//image.confetti.co.uk/i/footer_images/accredited_isis.gif">
				</a>
			</li>
			<li>
				<script type="text/javascript" src="https://seal.thawte.com/getthawteseal?host_name=www.confetti.co.uk&amp;size=S&amp;lang=en"></script>
				<a href="https://sealinfo.thawte.com/thawtesplash?form_file=fdf/thawtesplash.fdf&amp;dn=WWW.CONFETTI.CO.UK&amp;lang=en" tabindex="-1" onmousedown="return v_mDown(event);" target="THAWTE_Splash">
					<img name="seal" border="true" src="https://seal.thawte.com/getthawteseal?at=0&amp;sealid=2&amp;dn=WWW.CONFETTI.CO.UK&amp;lang=en&amp;gmtoff=-60" oncontextmenu="return false;" 
					alt="Click to Verify - This site has chosen a thawte SSL Certificate to improve Web site security">
				</a>
			</li>
      <li>
				<a title="The Superbrands Organisation logo" target="_blank" rel="nofollow" href="http://www.superbrands.org/ebrands/pdfs/Confetti.pdf">
					<img alt="The Superbrands Organisation logo" src="//image.confetti.co.uk/i/footer_images/superbrand_78x40.jpg">
				</a>
			</li>
			<li>
				<img alt="BT Online Excellence Awards Winner" src="//image.confetti.co.uk/i/footer_images/bt_award.gif">
			</li>
			<li>
				<a title="No.1 2008 Website Hitwise logo" target="_blank" rel="nofollow" href="http://www.hitwise.co.uk/awards/pickup.html?sDomain=www.confetti.co.uk&amp;iDate=200801&amp;iCatnum=276&amp;iType=1"> 	
					<img alt="No.1 2008 Website Hitwise logo" src="//image.confetti.co.uk/i/footer_images/hitwise2008.gif">
				</a>
			</li>
			<li>
				<a title="Wedding Awards 2010" target="_blank" rel="nofollow" href="http://www.the-wedding-awards.co.uk/">
					<img alt="Wedding Awards 2010" src="//image.confetti.co.uk/i/footer_images/weddingAwards2010.gif">
				</a>
			</li>
		</ul>
		<p id="footerCopyright"><a rel="nofollow" href="http://www.confetti.co.uk/article/view/6789-8280-0-Terms___conditions.do">Copyright</a> © <%= Time.now.year %> Confetti Celebrations Ltd, all rights reserved.</p>
	</footer>
	<%= javascript_include_tag "plugins", "application" %>