<div id="mpu">
	<!--JavaScript Tag // Tag for network 953: Confetti // Website: NEW_Alias Site // Page: Alias ID Tags // Placement: Alias ID Tags-Middle-300 x 250 (3134056) // created at: Mar 16, 2011 4:14:36 PM-->
	<script language="javascript">
		<!--
			document.write('<scr' + 'ipt language="javascript1.1" src="http://adserver.adtech.de/addyn/3.0/953.1/3134056/0/170/ADTECH;alias=8241-Wedding-Dresses-MPU;loc=100;target=_blank;grp=[group];misc=' + new Date().getTime() + '"></scri' + 'pt>');
		//-->
	</script>
	<noscript>
		<a href="http://adserver.adtech.de/adlink/3.0/953.1/3134056/0/170/ADTECH;loc=300;grp=[group]" target="_blank">
			<img src="http://adserver.adtech.de/adserv/3.0/953.1/3134056/0/170/ADTECH;alias=-MPU;loc=300;grp=[group]" border="0" width="300" height="250">
		</a>
	</noscript>
	<!-- End of JavaScript Tag -->
</div>