<div id="recommended">
	<div id="skyscraper">
		<!--JavaScript Tag // Tag for network 953: Confetti // Website: NEW_Alias Site // Page: Alias ID Tags // Placement: Alias ID Tags-Right-120 x 600 (3134059) // created at: Mar 16, 2011 4:14:36 PM-->
		<script language="javascript">
			<!--
			document.write('<scr' + 'ipt language="javascript1.1" src="http://adserver.adtech.de/addyn/3.0/953.1/3134059/0/168/ADTECH;alias=-MPU-SKY;loc=100;target=_blank;grp=[group];misc=' + new Date().getTime() + '"></scri' + 'pt>');
			//-->
		</script>
		<noscript>
			<a href="http://adserver.adtech.de/adlink/3.0/953.1/3134059/0/168/ADTECH;loc=300;grp=[group]" target="_blank">
				<img src="http://adserver.adtech.de/adserv/3.0/953.1/3134059/0/168/ADTECH;alias=-MPU-SKY;loc=300;grp=[group]" border="0" width="120" height="600">
			</a>
		</noscript>
		<!-- End of JavaScript Tag -->
	</div>
	<div id="ad-buttons">
		<iframe frameborder="0" scrolling="no" src="http://directory.confetti.co.uk/supplier-buttons.php"></iframe>
	</div>
</div>